#root {
  max-width: 2580px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#login .p-icon-field {
  width: 100%;
}

#login .p-password .p-password-show-icon {
  color: var(--color-primary);
}

#login .p-icon-field>.p-input-icon {
  top: 50%;
  left: 0.5rem;
  direction: ltr;
}
.p-input-icon{
  height: 0;
}
#login input {
  transition: box-shadow 0.2s ease;
}

#login input:focus {
  box-shadow: 0 0 5px 2px rgba(0, 82, 183, 0.5) !important;
}

#login input:hover {
  box-shadow: 0 0 0 2px rgba(0, 82, 183, 0.5) !important;
}

.ProgressBar_app .p-progressbar .p-progressbar-value {
  background-color: rgb(0, 98, 236) !important;
}

/* Status Badges */
.status-active {
  @apply bg-green-100 text-green-800 px-2 py-1 rounded-md text-sm font-medium;
}

.status-pending {
  @apply bg-yellow-100 text-yellow-800 px-2 py-1 rounded-md text-sm font-medium;
}

.status-inactive {
  @apply bg-red-100 text-red-800 px-2 py-1 rounded-md text-sm font-medium;
}

.hover\:bg-primary\/80:hover {
  background-color: transparent !important;
}